@import '../../../styles/index.styl';

.wrapper
  max-width 400px
  display flex
  flex-direction column
  gap 20px
  &Controllers
    display flex
    gap 20px
    align-items center
    &Input
      padding 10px
  &Tags
    display flex
    flex-wrap: wrap
    gap 20px