@import '../../../../styles/index.styl';

.tag
  color colors.black
  padding 0.2em 0.5em
  border-radius 4px
  display flex
  align-items center
  gap 20px
  margin-right 0.5em
  &Button
    padding 5px